<div class="container">
    <h3>Pesquisa</h3>
    <p>...</p>
        <article>
            <div class="inner">
                <h4>Projeto atual</h4>
                <p>...</p>
            </div>
        </article>
        <article>
            <div class="inner">
                <h4>Bolsas de estudo e Prêmios</h4>
                <ul>
                    <li>Bolsista de iniciação científica pela Fundação de Amparo à Pesquisa do Espírito Santo. (2014)</li>
                    <li>Bolsista integral pela CAPES por período de 2 anos durante o mestrado na UFES. (2017)</li>
                    <li>Vencedor do Latin America Research Award (LARA) concedido pelo Google. (2018)</li>
                </ul>
            </div>
        </article>
        <article>
            <div class="inner">
                <h4>Publicações</h4>
                <p>...</p>
            </div>
        </article>
</div>