<div class="container">
    <h3>Perfil</h3>
    <p>
        Bacharel em Engenharia de Computação pela Faculdade Novo Milênio e Mestrando em Informática pela Universidade Federal do Espírito Santo. Atualmente estou trabalhando no mestrado com pesquisa nas áreas de Visão Computacional e processamento de imagens aplicados a imagens de lesões de pele e de plantas. Durante a graduação me envolvi em trabalhos sociais como, coleta de alimentos, ensino de robótica para crianças e monitor no laboratório de eletrônica. Além disso, fui fundador e diretor do Diretório Central dos Estudantes e membro da empresa júnior. Meu trabalho de conclusão de curso consistiu no desenvolvimento de um Sistema de Monitoramente e Controle Energético residencial controlado por smartphone.
    </p>
    <!--<ul class="feature-icons">
        <li class="{{site.icon1}}">{{site.icont1}}</li>
        <li class="{{site.icon2}}">{{site.icont2}}</li>
        <li class="{{site.icon3}}">{{site.icont3}}</li>
        <li class="{{site.icon4}}">{{site.icont4}}</li>
        <li class="{{site.icon5}}">{{site.icont5}}</li>
        <li class="{{site.icon6}}">{{site.icont6}}</li>
    </ul>-->
</div>
