<div class="container">
    <h3>Perfil</h3>
    <p>
        Bacharel em Engenharia de Computação pela Faculdade Novo Milênio e Mestrando em Informática pela Universidade Federal do Espírito Santo. Atualmente estou trabalhando no mestrado com pesquisa nas áreas de visão computacional e processamento de imagens aplicados a imagens de lesões de pele e de plantas. Durante a graduação me envolvi em trabalhos voluntários como, coleta de alimentos, ensino de robótica para crianças e monitor no laboratório de eletrônica. Além disso, fui fundador e diretor do Diretório Central dos Estudantes e membro da empresa júnior. Meu trabalho de conclusão de curso consistiu no desenvolvimento de um Sistema de Monitoramente e Controle Energético residencial controlado por smartphone.
    </p>
    
    <h4>Skills</h4>
    <p>
        <ul class="feature-icons">
            <li class="fas fa-code">
                C/C++, Matlab, Python, Pytorch, HTML, CSS e Javascript.
            </li>
            <li class="fas fa-inbox">
                Arduino, ESP8266, PIC e Raspberry Pi.
            </li>
            <li class="fas fa-laptop">
                EagleCad, AutoCad e CorelDraw.
            </li>
        </ul>
    </p>
</div>
