<div class="container" style="margin-bottom: 20px;">
    <h3> Artigos e Tutoriais</h3>
    <h4>Recentes:</h4>
      <ul>
        {% for post in site.posts limit:3 %}
          <li style="margin-bottom: 10px;">

            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>

            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.categories }} ({{ post.date | date: date_format }})</span>

          </li>
        {% endfor %}
      </ul>

      <a class="my-btn" href="/artigos-tutoriais">Veja mais!</a>
</div>