<div class="container">
  <header class="major">
    <h2>Olá,</h2>
    <p>seja bem vindo ao meu website pessoal.</p>
  </header>
  <p>
  	Meu nome é Guilherme e estou aqui pra apresentá-lo um pouco do meu lado profissional. Os conteúdos deste website podem ser acessados rolando-se a página ou pelo menu lateral. Ao navegar por este website você irá encontrar
   </p>
  <ul>
  	<li>Perfil profissional: Informações sobre a minha formação, habilidades pessoais e informações de contato.</li>
     <li>Pesquisa: Trabalhos desenvolvidos, publicações, prêmios e trabalhos atuais.</li>
     <li>Artigos e Tutoriais: Conteúdo sobre temas variados relacionados à programação e inteligência artificial.</li>
  </ul>
</div>