<div class="container">
    <h3>Pesquisa</h3>
    <!--<p>...</p>
         <article>
            <div class="inner">
                <h4>Projeto atual</h4>
                <p>...</p>
            </div>
        </article> -->
        <article>
            <div class="inner">
                <h4>Bolsas de estudo e Prêmios</h4>
                <ul>
                    <li>Vencedor do Latin America Research Award (LARA) concedido pelo Google. (2018)</li>
                    <li>Bolsista integral pela CAPES por período de 2 anos durante o mestrado na UFES. (2017)</li>
                    <li>Bolsista de iniciação científica pela Fundação de Amparo à Pesquisa do Espírito Santo. (2014)</li>
                </ul>
            </div>
        </article>
        <article>
            <div class="inner">
                <h4>Publicações</h4>
                <ul>
                    <a href="https://arxiv.org/pdf/1907.11561.pdf" target="_blank"><li>Esgario, J. G. M.; Krohling, R. A.; Ventura, J. A. Deep Learning for Classification and Severity Estimation of Coffee Leaf Biotic Stress. <i>Arxiv</i>. 2019.</li></a>
                    <a href="https://arxiv.org/pdf/1903.03523.pdf" target="_blank"><li>Esgario, J. G. M.; da Silva, I. E.; Krohling, R. A. Application of Genetic Algorithms to the Multiple Team Formation Problem. <i>Arxiv</i>. 2019.</li></a>
                    <a href="https://www.researchgate.net/publication/328401217_Clustering_with_Minimum_Spanning_Tree_using_TOPSIS_with_Multi-Criteria_Information" target="_blank"><li>Esgario, J. G. M.; Krohling, R. A. Clustering with Minimum Spanning Tree using TOPSIS with Multi-Criteria Information. <i>2018 IEEE International Conference on Fuzzy Systems (FUZZ-IEEE)</i>. 2018.</li></a>
                </ul>
            </div>
        </article>
</div>