
.skills {
  text-align: right; /* Right-align text */
  padding: 0px; /* Add some padding */
  color: white; /* White text color */
}

.skillname {width: 20%; display: inline-block; padding-left: 10px;}
.skillbar {width: 79%; display: inline-block; padding-left: 10px;}

.p100 {width: 100%;}
.p90 {width: 90%;}
.p80 {width: 80%;}
.p70 {width: 70%;}
.p60 {width: 60%;}
.p50 {width: 50%;}
.p40 {width: 40%;}
.p30 {width: 30%;}


.bg-yellow {background-color: #eae920;}
.bg-green {background-color: #4CAF50;}
.bg-blue {background-color: #2196F3;}
.bg-red {background-color: #f44336;}
.bg-grey {background-color: #808080;}

.bar {width: 100%;
	  height: 1px;
	  background: #eee;
	  float: left;}